@import '_variables';
@import '_mixins';

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}


body {
	background: white;
	color: $dark;
	font-family: 'Open Sans', Arial, Helvetica Neue, Sans-serif;
	font-weight: 300;
}

.container {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

p {
	margin: 0 0 $space;
	&:last-of-type {
		margin: 0;
	}
}

a.button {
	background: $blue;
	line-height: $space*3;
	display: inline-block;
	padding: 0 $space*2;
	border: $space/2 solid white;
	font-weight: 700;
	text-transform: uppercase;
}

a.brochure {
	display: block;
	color: $blue;
	margin: 0 0 0 -8px;
	font-weight: 700;
	i.material-icons {
		color: inherit;
		position: relative;
		top: 6px;
		width: 16px;
	}
}

div.request {
	width: 80%;
	margin: 0 auto;
	text-align: right;
	position: absolute;
	bottom: -$space*1.25;
	left: 10%;
	height: $space*3;
	@include tablet {
		a.button {
			width: 100%;
			text-align: center;
		}
	}
}

section {
	.container {
		display: flex;
		> * {
			flex: 1;
			padding: 0 $space*2;
			img {
				max-width: 100%;
			}
		}
		.headline {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			flex: .75;
			h1 {
				font-weight: 400;
				width: 75%;
				font-size: 2em;
				text-align: right;
			}
		}
	}
	&.intro {
		margin: $space*8 0 0;
		.container {
			@include tablet {
				flex-direction: column !important;
			}
		}
		
		.headline {
			position: relative;
			opacity: 0;
			top: -10px;
			h1 {
				margin: 0 0 $space*2;
				color: $orange;
				@include tablet {
					text-align: center;
					width: 100%;
				}
			}
			img {
				margin: 0 -20px 0 0;
				width: 75%;
				@include tablet {
					width: 50%;
					margin: $space auto;
				}
			}
		}
		.hero {
			display: flex;
			align-items: flex-end;
			img {
				width: 80%;
				margin: 0 auto;
				display: block;
				position: relative;
				top: 10px;
				opacity: 0;
			}
		}
	}
	&.description {
		position: relative;
		z-index: 1;
		background: $orange;
		color: white;
		padding: $space*4 0;
		// max-width: 1280px;
		margin: 0 auto;
		.container {
			position: relative;
			@include tablet {
				flex-direction: column;
				h1 {
					text-align: center;
					width: 100%;
					margin: 0 0 $space;
				}
			}
			.hand {
				position: absolute;
				top: 200px;
			    left: -9%;
				@include tablet {
					display: none;
				}
				img {
					max-width: 67%;
					min-width: 50%;
					width: 59%;
				}
			}
		}
		
	}
	&#how-it-works {
		padding: $space*4 0;
		.container {
			@include tablet {
				flex-direction: column;
			}
		}
		div.space {
			flex: .75;
		}
		h3 {
			color: $grey2;
		}
		h2 {
			color: $blue;
			font-weight: 400;
			margin: $space/2 0;
			&:not(:first-of-type) {
				margin: $space*3 0 $space/2;
			}
		}
	}
	&#powered-by-chromecast {
		background: url('../../assets/img/hotelroom.jpg') center;
		background-size: cover;
		padding: $space*4 0 $space*6;
		position: relative;
		@include tablet {
			background: white;
			padding: $space*2 0 0;
		}
		div.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			@include tablet {
				flex-direction: column;
				width: 100%;
			}
			div.hotel-image {
				display: none;
				flex: 1;
				@include tablet {
					display: block;

				}
			}
			div.copy {
				flex: 1;
				div.holder {
					background: white;
					position: relative;
					min-width: 400px;
					max-width: 500px;
					// width: 50%;
					padding: $space $space*3 $space*6;
					@include tablet {
						min-width: 0;
						flex: 1;
						padding: $space*2 0 0;
					}
					.chromecast-icon {
						position: absolute;
						width: 100%;
						left: 0;
						bottom: -54px;
						text-align: center;
						img {
							background: white;
							padding: $space/2;
							border-radius: 100px;
							width: 100px;
						}
						@include tablet {
							top: -44px;
							img {
								width: 80px;
							}
						}
					}
					img.powered {
						width: 50%;
						margin: 0 0 $space;
					}
				}
			}
		}
		h2 {
			color: $blue;
			font-weight: 400;
			margin: $space/2 0;
		}
		.icons {
			position: absolute;
			width: 100%;
			bottom: -10%;
			@include tablet {
				top: 0;
			}
			img {
				width: 30%;
				max-width: 420px;
				min-width: 280px;
				float: right;
				padding: 0 $space;
				@include tablet {
					max-width: 220px;
					min-width: 180px;
				}
			}
		}
	}
	&#compatible-devices {
		padding: $space*4 0;
		border-bottom: 1px solid $grey;
		.container {
			@include tablet {
				flex-direction: column-reverse;
			}
		}
		div.devices {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 80%;
				margin: 0 auto;
				display: block;
				@include tablet {
					margin: $space*2 auto 0;
				}
				@include mobile {
					width: 100%;
				}
			}
		}
		div.copy {
			padding: 0 $space;
			h2 {
				color: $blue;
				font-weight: 400;
				margin: 0 0 $space/2 0;
			}
		}
	}
	&#compare {
		padding: $space*4 0;
		.container {
			display: block;
			h1 {
				padding: 0;
				margin: 0 0 $space*2;
			}
		}
		table {
			border-collapse: collapse;
			thead {
				tr {
					background: #F4F6F7;
					font-size: .9em;
					font-weight: 400;
					color: $blue;
					@include tablet {
						font-size: .8em;
					}
				}
			}

			tbody {
				tr:nth-of-type(even) {
					background: #F4F6F7;
				}
			}
			th, tr, td {
				padding: 1%;
				text-align: center;
				i {
					color: $blue;
				}
			}
			tr:first-of-type {
				border: none;
			}
			th:first-of-type, tr td:first-of-type {
				text-align: left;
				padding: 1% 2%;
				width: 20%;
				@include tablet {
					width: 50%;
				}
			}
			td:last-of-type, th:last-of-type {
				width: 35%;
				text-align: left;
				@include tablet {
					display: none;
				}
			}
			td:first-of-type {
				@include tablet {
					font-weight: 400;
				}
				p {
					display: none;
					margin: $space 0;
					@include tablet {
						display: block;
						font-weight: 300;
					}
				}
			}
			.mobile {
				display: none;
			}
			@include tablet {
				font-size: .95em;
				.not-mobile {
					display: none;
				}
				.mobile {
					display: inline-block;
				}
			}
		}
	}
	&#installation {
		padding: $space*4 0;
		position: relative;
		.container {
			@include tablet {
				flex-direction: column-reverse;

			}
		}
		h2 {
			color: $blue;
			font-weight: 400;
			margin: $space/2 0;
		}
		.setup {
			img {
				width: 80%;
				display: block;
				margin: $space*2 auto;
			}
		}
		.request {
			margin: 0 auto;
			position: relative;
			text-align: center;
			// width: 100%;
			float: left;
			left: 0;
			a.button.request {
				color: white;
			}
		}
	}
	&#faq {
		background: $grey;
		padding: $space*4 0;
		ul {
			li.question {
				margin: 0 0 $space;
				span.q {
					font-weight: 400;
					cursor: pointer;
					display: block;
					margin: 0 0 12px -24px;
					font-size: 1.25em;
				}
				span.q ~ span.a {
					display: none;
				}
				span.q.open ~ span.a {
					display: block;
				}
				span.arrow i.material-icons {
					position: relative;
					top: 6px;
					width: 24px;
					color: $blue;
				}
			}
		}
		
	}
}

