@import '_variables';
@import '_mixins';

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}


body {
	background: white;
	color: $dark;
	font-family: 'Open Sans', Arial, Helvetica Neue, Sans-serif;
	font-weight: 300;
}

.container {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

p {
	margin: 0 0 $space;
	&:last-of-type {
		margin: 0;
	}
}

a.button {
	background: $blue;
	line-height: $space*3;
	display: inline-block;
	padding: 0 $space*2;
	border: $space/2 solid white;
	font-weight: 700;
	text-transform: uppercase;
}

div.request {
	width: 80%;
	margin: 0 auto;
	text-align: right;
	position: absolute;
	bottom: -$space*1.25;
	left: 10%;
	height: $space*3;
	@include tablet {
		a.button {
			width: 100%;
			text-align: center;
		}
	}
}

section {
	.container {
		display: flex;
		> * {
			flex: 1;
			padding: 0 $space*2;
			img {
				max-width: 100%;
			}
		}
		.headline {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			flex: .75;
			h1 {
				font-weight: 400;
				width: 75%;
				font-size: 2em;
				text-align: right;
			}
		}
	}
	&.intro {
		margin: $space*8 0 0;
		.container {
			@include tablet {
				flex-direction: column !important;
			}
		}
		
		.headline {
			position: relative;
			opacity: 0;
			top: -10px;
			h1 {
				margin: 0 0 $space*2;
				color: $orange;
				@include tablet {
					text-align: center;
					width: 100%;
				}
			}
			img {
				margin: 0 -20px 0 0;
				width: 75%;
				@include tablet {
					width: 50%;
					margin: $space auto;
				}
			}
		}
		.hero {
			display: flex;
			align-items: flex-end;
			img {
				width: 80%;
				margin: 0 auto;
				display: block;
				position: relative;
				top: 10px;
				opacity: 0;
			}
		}
	}
	&.description {
		position: relative;
		z-index: 1;
		background: $orange;
		color: white;
		padding: $space*4 0;
		max-width: 1280px;
		margin: 0 auto;
		.container {
			@include tablet {
				flex-direction: column;
				h1 {
					text-align: center;
					width: 100%;
					margin: 0 0 $space;
				}
			}
		}
		.hand {
			position: absolute;
			top: 230px;
			@include tablet {
				display: none;
			}
			img {
				max-width: 60%;
				min-width: 50%;
				width: 50%;
			}
		}
	}
	&#how-it-works {
		padding: $space*4 0;
		.container {
			@include tablet {
				flex-direction: column;
			}
		}
		div.space {
			flex: .75;
		}
		h3 {
			color: $grey2;
		}
		h2 {
			color: $blue;
			font-weight: 400;
			margin: $space/2 0;
			&:not(:first-of-type) {
				margin: $space*3 0 $space/2;
			}
		}
	}
	&#powered-by-chromecast {
		height: 80vh;
		min-height: 500px;
		background: url('../../assets/img/hotelroom.jpg') center;
		background-size: cover;
		position: relative;
		@include tablet {
			padding: $space 0;
		}
		div.container {
			display: flex;
			// flex-direction: column;
			justify-content: center;
			align-items: center;
			height: inherit;
			min-height: inherit;
			div.holder {
				background: white;
				position: relative;
				min-width: 400px;
				max-width: 500px;
				width: 50%;
				flex: .5;
				padding: $space $space*3 $space*4;
				@include tablet {
					width: 90%;
				}
				.chromecast-icon {
					position: absolute;
					width: 100%;
					left: 0;
					bottom: -54px;
					text-align: center;
					img {
						background: white;
						padding: $space/2;
						border-radius: 100px;
						width: 100px;
					}
				}
				img.powered {
					width: 50%;
					margin: 0 0 $space;
				}
			}
		}
		h2 {
			color: $blue;
			font-weight: 400;
			margin: $space/2 0;
		}
	}
	&#installation {
		padding: $space*4 0;
		position: relative;
		.container {
			@include tablet {
				flex-direction: column-reverse;

			}
		}
		h2 {
			color: $blue;
			font-weight: 400;
			margin: $space/2 0;
		}
		a {
			display: block;
			color: $blue;
			margin: 0 0 0 -8px;
			font-weight: 700;
			i.material-icons {
				color: inherit;
				position: relative;
				top: 6px;
				width: 16px;
			}
		}
		.setup {
			img {
				width: 80%;
				display: block;
				margin: $space*2 auto;
			}
		}
		.request {
			margin: 0 auto;
			position: relative;
			text-align: center;
			// width: 100%;
			float: left;
			left: 0;
			a.button.request {
				color: white;
			}
		}
	}
	&#faq {
		background: $grey;
		padding: $space*4 0;
		ul {
			li.question {
				margin: 0 0 $space;
				span.q {
					font-weight: 400;
					cursor: pointer;
					display: block;
					margin: 0 0 12px -24px;
					font-size: 1.25em;
				}
				span.q ~ span.a {
					display: none;
				}
				span.q.open ~ span.a {
					display: block;
				}
				span.arrow i.material-icons {
					position: relative;
					top: 6px;
					width: 24px;
					color: $blue;
				}
			}
		}
		
	}
}

