@import '_variables';
@import '_mixins';

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	list-style-type: none;
	text-decoration: none;
}


body {
	background: white;
	color: $dark;
	font-family: 'Open Sans', Arial, Helvetica Neue, Sans-serif;
	font-weight: 300;
}

.container {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

p {
	margin: 0 0 $space;
	&:last-of-type {
		margin: 0;
	}
}

section {
	display: flex;
	padding: $space*5 0;
	& > div {
		flex: 1;
	}
	div {
		h1 {
			font-size: 2em;
			font-weight: 400;
		}
	}
}

section.intro {
	padding: 0;
	& > div {
		
	}
	div.headline {
		// text-align: right;
		position: relative;
		top: -10px;
		padding: 0 $space*6 $space*6;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		opacity: 0;
		h1 {
			color: $orange;
			text-align: center;
		}
		img {
			width: 350px;
			margin: 0 0 $space*2;
		}
	}
	div.hero {
		display: flex;
		align-items: flex-end;
		img {
			max-width: 100%;
			position: relative;
			top: 10px;
			opacity: 0;
		}
	}
	@include tablet {
		background: red;
	}
}

section.description {
	position: relative;
	z-index: 1;
	background: $orange;
	color: white;
	align-items: flex-start;
	& > div {
	}
	div:nth-of-type(1) {
		text-align: center;
	}
}