@import '_variables';
@import '_mixins';

header {
	position: fixed;
	background: white;
	top: 0;
	z-index: 500;
	width: 100%;
	transition: all .2s;
	.container {
		display: flex;
		padding: $space*2 0;
		div.logo {
			background: url('../img/ta-logo-color.png') left no-repeat;
			background-size: contain;
			width: 140px;
			height: 30px;
			a {
				display: block;
				width: 100%;
				height: 100%;

			}
			@include tablet {

			}
		}
		ul.menu {
			flex: 1;
			text-align: right;
			transition: right .2s;
			li {
				display: inline;
				a {
					margin: 0 0 0 10px;
					font-weight: 300;
					font-size: .95em;
					color: #797979;
					letter-spacing: -0.01em;

				}
				&.mobile {
					display: none;
					@include tablet {
						display: inline;
					}
				}
			}
			@include tablet {
				position: fixed;
				padding: $space;
				width: 300px;
				height: 120vh;
				overflow: hidden;
				background: rgba(255,255,255,.98);
				right: -300px;
				top: 0;
				a {
					display: block;
					text-align: left;
					padding: $space;
					font-weight: 400 !important;
					color: #333 !important;
				}
				&.open {
					right: 0;
					box-shadow: 0 0 15px rgba(0,0,0,.2);
				}
				&.open ~ .mobile-menu-trigger {
					
				}
			}
		}
	}
	&.dark {
		background: $grey;
		.container {

		}
	}
	.mobile-menu-trigger {display: none;}
	@include tablet {
		a.mobile-menu-trigger {
			// background: blue;
			position: absolute;
			display: block;
			padding: $space/1.5 0;
			height: 70%;
			width: $space*4;
			// top: 50%;
			right: 5%;
			top: $space;
			text-align: right;
			
			i {
				font-size: 28px;
			}
		}
	}
}