@import '_variables';
@import '_mixins';

header {
	background: white;
	position: fixed;
	top: 0;
	z-index: 500;
	width: 100%;
	transition: all .2s;
	.container {
		display: flex;
		div.logo, ul.menu {
			// flex: 1;
		}
		div.logo {
			background: url('../img/rc-logo-color.png') left no-repeat;
			background-size: contain;
			// flex: .5;
			width: 140px;
			margin: $space;
		}
		ul.menu {
			flex: 1;
			text-align: right;
			line-height: 100px;
			transition: all .2s;
			li {
				display: inline;
				a {
					margin: 0 5px;
					font-weight: 300;
					color: #797979;
					letter-spacing: -0.01em;
					line-height: 0;
				}
				ul {
					display: none;
				}
			}
			@include tablet {
				position: fixed;
				padding: $space;
				width: 300px;
				height: 120vh;
				overflow: hidden;
				background: rgba(0,0,20,.9);
				// color: $lighterGrey;
				right: -300px;
				top: 0;
				a {
					display: block;
					text-align: left;
					padding: $space;
				}
				&.open {
					right: 0;
				}
				&.open ~ .mobile-menu-trigger {
					// color: $lighterGrey;
				}
			}
		}
	}
	&.dark {
		background: $grey;
		.container {
			ul.menu {
				line-height: 60px;
			}
		}
	}
	.mobile-menu-trigger {display: none;}
	@include tablet {
		a.mobile-menu-trigger {
			position: absolute;
			display: block;
			padding: $space*2 $space $space;
			right: -$space;
			top: -$space;
			
			i {
				font-size: 28px;
			}
		}
	}
}