@import '_variables';
@import '_mixins';

div#request-sample-box {
	background: $blue;
	padding: $space;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	opacity: 0;
	transition: all .1s ease-in-out;
	div.close {
		position: absolute;
		cursor: pointer;
		top: 0;
		right: 0;
		color: white;
		padding: $space*2;
		i {
			font-size: 2em;
		}
		
	}
	form {
		width: 60%;
		// margin: 0 auto;
		@include tablet {
			width: 90%;
		}
		h1 {
			margin: 0 0 $space*2;
		}
		div {
			label, input {
				display: inline-block;
				// text-transform: uppercase;
				font-size: 1.25em;
				letter-spacing: 1px;
				font-weight: 100;
				color: #eee;
				margin: 0 0 $space/4;
			}
			input {
				display: block;
				background: rgba(255,255,255,.1);
				border: none;
				font-size: 1.5em;
				padding: $space/2;
				width: 100%;
			}
			&:not(:first-of-type) {
				margin: $space 0 0;
			}
		}
		button {
			background: $blue/1.3;
			font-size: 1.5em;
			letter-spacing: 1px;
			padding: $space/1.25 $space*1.5;
			color: white;
			font-weight: 400;
			border: none;
			border-radius: 2px;
			float: right;
			cursor: pointer;
			margin: $space*2 0 0;
			@include tablet {
				width: 100%;
			}
		}
	}
	&.open {
		transform: scale(1);
		opacity: 1;
		animation: drop 1s;
	}
}


@keyframes drop {
    0% {
        transform: scale(0);
        // transform: ;
    }
    50% {
        // transform: ;
        transform: scale(1.01);
    }
    100% {
    	transform: scale(1);
    }
}