<header>
	<div class="container">
		<div class="logo"><a href="http://www.teleadapt.com"></a></div>

		<ul class="menu">
			<li><a href="#how-it-works" onclick="$.scrollTo( '#how-it-works', 600, {offset: {top:-40}} );">How It Works</a></li>
			<li><a href="#powered-by-chromecast"  onclick="$.scrollTo( '#powered-by-chromecast', 600, {offset: {top:-40}} );"">Powered by Chromecast</a></li>
			<li><a href="#compare"  onclick="$.scrollTo( '#compare', 600, {offset: {top:-40}} );">Compare</a></li>
			<!-- <li><a href="/compare">Compare</a></li> -->
			<li><a href="#installation"  onclick="$.scrollTo( '#installation', 600, {offset: {top:-40}} );">Installation</a></li>
			<!-- <li><a href="#faq">FAQ</a></li> -->
			<li class="mobile"><a href class="request">Request Quote</a></li>
			<li class="mobile"><a href="http://www.goodhatch.com/teleadapt/RoomCast-brochure.pdf">Download Brochure</a></li>
		</ul>
		<a href ng-click="mobileMenu()" class="mobile-menu-trigger"><i class="material-icons">menu</i></a>
	</div>
</header>